@import './config';
@import './mediaQ';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

article {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
}

.contact__card {
  width: 100%;
  height: 50px;
  background-color: $bgColor;
  color: $white;
  padding: 1em 1.5em;
  .contact__number {
    font-size: 1em;
    i {
      transform: rotate(-50deg);
      font-size: 1.3em;
      margin: 0px 5px 20px 0px;
    }
    p {
      color: $gray-200;
      font-size: 1em;
    }
  }

  .contact__icons {
    i {
      margin-left: 1.2em;
      font-size: 1em;
    }
  }
}

/* Nav */
.navbar {
  padding: 1rem 0;

  .inner__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-left: 2rem;

        a {
          color: #000000;
          font-size: 1.3em;
          font-weight: 500;
          &:hover {
            color: $bgColor;
            border-bottom: 2px solid $bgColor;
            padding-bottom: 0.2rem;
            transition: .3s ease-in-out;
          }
        }
      }
    }
  }  

}

.burger {
  display: none;
}

/* BURGER MENU FOR SMALLER DEVICE */
.burger {
  cursor: pointer;
  display: none;
  z-index: 1;

  .line:first-child {
    width: 12px;
  }

  .line {
    display: block;
    background: $bgColor;
    height: 2px;
    width: 25px;
    margin: 12px;
    transition: all 0.5s ease-in-out;
  }

  .blue {
    background: #00098a;
  }
}


